h1 {
  color:#2B71B1;
}

hr {
  border: none;
  height: 5px;
  background-color: #333; /* Modern Browsers */
}

#transactions ul {
  color:green;
}

#form {
  margin-left: 50%;
  margin-top:-80px;
}

#container {
	width:100%;
}

#container3 {
  width: 60%;
}

#container2 {
  width: 100%;
}
